streamlit==1.41.1
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.2
matplotlib==3.9.2
seaborn==0.13.2
Flask==3.0.3
Flask-Cors==5.0.0
requests==2.32.3
beautifulsoup4==4.12.3
nltk==3.9.1
scipy==1.14.1
torch==2.5.1
transformers==4.46.2
sentence-transformers==3.3.0
faiss-cpu==1.9.0
google-api-python-client==2.158.0
google-auth==2.37.0
chromadb==0.6.3

# Updated LangChain dependencies
langchain
langchain-community
langchain-core
langchain-pinecone
langchain-groq

# Pinecone dependency
pinecone-client
pinecone-client==3.0.2  # Ensure Pinecone is installed
langchain-pinecone==0.0.2  # Ensure compatibility with LangChain
